Repository ministryofjustice/data-platform-products, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/data-tech-archs, @ministryofjustice/data-platform-core-infra, @ministryofjustice/data-platform-labs

use path to get product name from path
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

Update data-products/example_prison_data_product/application/transform.py
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

Update data-products/example_prison_data_product/application/transform.py
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

Update data-products/example_prison_data_product/application/transform.py
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

Update data-products/example_prison_data_product/application/transform.py
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

Update data-products/example_prison_data_product/application/transform.py
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

Update data-products/example_prison_data_product/application/transform.py
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

Update data-products/example_prison_data_product/application/transform.py
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

reformat comments
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

updated unit test for multiple tables
  data-products/example_prison_data_product/tests/unit_tests/conftest.py
  data-products/example_prison_data_product/tests/unit_tests/t.py
  data-products/example_prison_data_product/tests/unit_tests/test_metadata/02-data-dictionary.yaml
  data-products/example_prison_data_product/tests/unit_tests/test_transform.py
Owners: @ministryofjustice/data-tech-archs

s3 client inside functions so moto works
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

tidy up comments
  data-products/example_prison_data_product/tests/unit_tests/conftest.py
Owners: @ministryofjustice/data-tech-archs

update requirements
  data-products/example_prison_data_product/requirements.txt
Owners: @ministryofjustice/data-tech-archs

add package versions
  data-products/example_prison_data_product/requirements.txt
Owners: @ministryofjustice/data-tech-archs

refactored transform.py to handle multiple tables and source data (#27)
  .github/workflows/data-product-prison-example-test.yaml
  .github/workflows/data-product-prison-example-upload.yaml
  data-products/example_2/application/transform.py
  data-products/example_2/requirements.txt
  data-products/example_2/tests/unit_tests/test_transform.py
  data-products/example_prison_data_product/application/AdjudicationsQ32022.csv
  data-products/example_prison_data_product/application/__init__.py
  data-products/example_prison_data_product/application/transform.py
  data-products/example_prison_data_product/metadata/00-specification.yml
  data-products/example_prison_data_product/metadata/01-governance.yml
  data-products/example_prison_data_product/metadata/02-data-dictionary.yml
  data-products/example_prison_data_product/metadata/03-transformations.yml
  data-products/example_prison_data_product/package_data_product.py
  data-products/example_prison_data_product/requirements.txt
  data-products/example_prison_data_product/tests/__init__.py
  data-products/example_prison_data_product/tests/unit_tests/__init__.py
  data-products/example_prison_data_product/tests/unit_tests/conftest.py
  data-products/example_prison_data_product/tests/unit_tests/t.py
  data-products/example_prison_data_product/tests/unit_tests/test_metadata/02-data-dictionary.yaml
  data-products/example_prison_data_product/tests/unit_tests/test_transform.py
Owners: @ministryofjustice/data-platform-core-infra, @ministryofjustice/data-tech-archs

update example product name
  data-products/example_prison_data_product/package_data_product.py
Owners: @ministryofjustice/data-tech-archs

update example product name (#28)
  data-products/example_prison_data_product/package_data_product.py
Owners: @ministryofjustice/data-tech-archs

Abstracted test data to csv
  data-products/example_prison_data_product/tests/data/sample_input.csv
  data-products/example_prison_data_product/tests/data/sample_output.csv
  data-products/example_prison_data_product/tests/unit_tests/test_transform.py
Owners: @ministryofjustice/data-tech-archs

Annotate PR with pytest failures
  .github/workflows/data-product-prison-example-test.yaml
Owners: @ministryofjustice/data-platform-core-infra

Make the tests fail to test annotation
  data-products/example_prison_data_product/tests/data/sample_input.csv
Owners: @ministryofjustice/data-tech-archs

trigger failure
  data-products/example_prison_data_product/tests/data/sample_output.csv
Owners: @ministryofjustice/data-tech-archs

Fixed data after testing error annotation
  data-products/example_prison_data_product/tests/data/sample_output.csv
Owners: @ministryofjustice/data-tech-archs

Add annotator to requirements file
  .github/workflows/data-product-prison-example-test.yaml
  data-products/example_prison_data_product/requirements.txt
Owners: @ministryofjustice/data-platform-core-infra, @ministryofjustice/data-tech-archs

Abstracted test data to csv (#31)
  .github/workflows/data-product-prison-example-test.yaml
  data-products/example_prison_data_product/requirements.txt
  data-products/example_prison_data_product/tests/data/sample_input.csv
  data-products/example_prison_data_product/tests/data/sample_output.csv
  data-products/example_prison_data_product/tests/unit_tests/test_transform.py
Owners: @ministryofjustice/data-platform-core-infra, @ministryofjustice/data-tech-archs

product for benchmarking glue test data
  data-products/glue_athena_test/application/transform.py
  data-products/glue_athena_test/metadata/02-data-dictionary.yml
Owners: @ministryofjustice/data-tech-archs

product for benchmarking glue test data (#35)
  data-products/glue_athena_test/application/transform.py
  data-products/glue_athena_test/metadata/02-data-dictionary.yml
Owners: @ministryofjustice/data-tech-archs

.github/CODEOWNERS:

*  @ministryofjustice/data-tech-archs
/.github/ @ministryofjustice/data-platform-core-infra
/data-products/_docs/ @ministryofjustice/data-tech-archs
/data-products/_example/ @ministryofjustice/data-tech-archs
/data-products/_example_2/ @ministryofjustice/data-platform-labs
