Repository ministryofjustice/data-platform-products, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/data-tech-archs, @ministryofjustice/data-platform-core-infra, @ministryofjustice/data-platform-labs

dlab:39: make method dynamic
  data-products/_example_2/application/transform.py
Owners: @ministryofjustice/data-platform-labs

dlab:39: make method dynamic
  data-products/_example_2/application/transform.py
Owners: @ministryofjustice/data-platform-labs

dlab:39 update requirements
  data-products/_example_2/requirements.txt
Owners: @ministryofjustice/data-platform-labs

dlab:39 update requirements
  data-products/_example_2 2/application/__init__.py
  data-products/_example_2 2/application/transform.py
  data-products/_example_2 2/application/transform.py.zip
  data-products/_example_2 2/requirements.txt
  data-products/_example_2/tests/unit_tests/test_transform.py
  data-products/data_product_example_2.zip
Owners: @ministryofjustice/data-tech-archs, @ministryofjustice/data-platform-labs

dlab:39 update requirements
  data-products/_example_2/tests/unit_tests/test_transform.py
Owners: @ministryofjustice/data-platform-labs

dplab-39: update log message
  data-products/_example_2/application/transform.py
Owners: @ministryofjustice/data-platform-labs

dplab-39: add type hints
  data-products/_example_2/application/transform.py
Owners: @ministryofjustice/data-platform-labs

dplab-39: add type hints
  data-products/_example_2/application/transform.py
Owners: @ministryofjustice/data-platform-labs

dplab-39: remove unwanted code
  data-products/_example_2/application/transform.py
Owners: @ministryofjustice/data-platform-labs

dplab-39: add more logging
  data-products/_example_2/application/transform.py
Owners: @ministryofjustice/data-platform-labs

dplab-39: add more logging
  data-products/_example_2/application/transform.py
Owners: @ministryofjustice/data-platform-labs

dplab: address comments
  data-products/_example_2/application/transform.py
Owners: @ministryofjustice/data-platform-labs

dplab-39: address comments
  .github/workflows/data-product-example-2-poc.yaml
Owners: @ministryofjustice/data-platform-core-infra

dlab-39: create python library not executable (#17)
  .github/workflows/data-product-example-2-poc.yaml
  data-products/_example_2/application/transform.py
  data-products/_example_2/package_data_product.py
  data-products/_example_2/requirements.txt
  data-products/_example_2/tests/unit_tests/test_transform.py
Owners: @ministryofjustice/data-platform-core-infra, @ministryofjustice/data-platform-labs

dplab-39: change role to assume for OIDC
  .github/workflows/data-product-example-2-poc.yaml
Owners: @ministryofjustice/data-platform-core-infra

dplab-39: change role to assume for OIDC (#18)
  .github/workflows/data-product-example-2-poc.yaml
Owners: @ministryofjustice/data-platform-core-infra

Update destination bucket name
  .github/workflows/data-product-example-2-poc.yaml
Owners: @ministryofjustice/data-platform-core-infra

Update destination bucket name (#19)
  .github/workflows/data-product-example-2-poc.yaml
Owners: @ministryofjustice/data-platform-core-infra

Fixed file pathing
  data-products/_example_2/package_data_product.py
Owners: @ministryofjustice/data-platform-labs

Renamed workflow
  .github/workflows/data-product-example-2-upload.yaml
Owners: @ministryofjustice/data-platform-core-infra

Update .github/workflows/data-product-example-2-upload.yaml
  .github/workflows/data-product-example-2-upload.yaml
Owners: @ministryofjustice/data-platform-core-infra

Dplab 000 fix file upload pathing (#20)
  .github/workflows/data-product-example-2-upload.yaml
  data-products/_example_2/package_data_product.py
Owners: @ministryofjustice/data-platform-core-infra, @ministryofjustice/data-platform-labs

Fixed directory names inside zip
  data-products/_example_2/package_data_product.py
Owners: @ministryofjustice/data-platform-labs

Fixed directory names inside zip (#21)
  data-products/_example_2/package_data_product.py
Owners: @ministryofjustice/data-platform-labs

Changed directory names
  .github/workflows/data-product-example-2-upload.yaml
Owners: @ministryofjustice/data-platform-core-infra

add name to use for database table
  data-products/_example_2/application/transform.py
Owners: @ministryofjustice/data-platform-labs

add underscore so not needed in product name
  data-products/_example_2/package_data_product.py
Owners: @ministryofjustice/data-platform-labs

remove underscore from product name
  .github/workflows/data-product-example-2-test.yaml
Owners: @ministryofjustice/data-platform-core-infra

remove underscore from product name
  .github/workflows/data-product-example-2-upload.yaml
Owners: @ministryofjustice/data-platform-core-infra

Rename data-products/_example_2/package_data_product.py to data-products/example_2/package_data_product.py
  data-products/example_2/package_data_product.py
Owners: @ministryofjustice/data-tech-archs

rename example_2
  data-products/example_2/application/AdjudicationsQ32022.csv
  data-products/example_2/application/__init__.py
  data-products/example_2/application/transform.py
  data-products/example_2/metadata/00-specification.yml
  data-products/example_2/metadata/01-governance.yml
  data-products/example_2/metadata/02-data-dictionary.yml
  data-products/example_2/metadata/03-transformations.yml
  data-products/example_2/requirements.txt
  data-products/example_2/tests/__init__.py
  data-products/example_2/tests/unit_tests/__init__.py
  data-products/example_2/tests/unit_tests/test_transform.py
Owners: @ministryofjustice/data-tech-archs

adding zip path change
  .github/workflows/data-product-example-2-upload.yaml
Owners: @ministryofjustice/data-platform-core-infra

Update data-product-example-2-upload.yaml
  .github/workflows/data-product-example-2-upload.yaml
Owners: @ministryofjustice/data-platform-core-infra

Update .github/workflows/data-product-example-2-upload.yaml
  .github/workflows/data-product-example-2-upload.yaml
Owners: @ministryofjustice/data-platform-core-infra

add name to use for database table (#24)
  .github/workflows/data-product-example-2-test.yaml
  .github/workflows/data-product-example-2-upload.yaml
  data-products/example_2/application/AdjudicationsQ32022.csv
  data-products/example_2/application/__init__.py
  data-products/example_2/application/transform.py
  data-products/example_2/metadata/00-specification.yml
  data-products/example_2/metadata/01-governance.yml
  data-products/example_2/metadata/02-data-dictionary.yml
  data-products/example_2/metadata/03-transformations.yml
  data-products/example_2/package_data_product.py
  data-products/example_2/requirements.txt
  data-products/example_2/tests/__init__.py
  data-products/example_2/tests/unit_tests/__init__.py
  data-products/example_2/tests/unit_tests/test_transform.py
Owners: @ministryofjustice/data-platform-core-infra, @ministryofjustice/data-tech-archs

remove underscore
  data-products/example_2/package_data_product.py
Owners: @ministryofjustice/data-tech-archs

remove underscore (#26)
  data-products/example_2/package_data_product.py
Owners: @ministryofjustice/data-tech-archs

refactored transform.py to handle multiple tables and source data
  data-products/example_2/application/transform.py
  data-products/example_prison_data_product/application/AdjudicationsQ32022.csv
  data-products/example_prison_data_product/application/__init__.py
  data-products/example_prison_data_product/application/transform.py
  data-products/example_prison_data_product/metadata/00-specification.yml
  data-products/example_prison_data_product/metadata/01-governance.yml
  data-products/example_prison_data_product/metadata/02-data-dictionary.yml
  data-products/example_prison_data_product/metadata/03-transformations.yml
  data-products/example_prison_data_product/package_data_product.py
  data-products/example_prison_data_product/requirements.txt
  data-products/example_prison_data_product/tests/__init__.py
  data-products/example_prison_data_product/tests/unit_tests/__init__.py
  data-products/example_prison_data_product/tests/unit_tests/test_transform.py
Owners: @ministryofjustice/data-tech-archs

remove old table_name var
  data-products/example_prison_data_product/application/transform.py
Owners: @ministryofjustice/data-tech-archs

update workflows to new product exmaple
  .github/workflows/data-product-prison-example-test.yaml
  .github/workflows/data-product-prison-example-upload.yaml
Owners: @ministryofjustice/data-platform-core-infra

.github/CODEOWNERS:

*  @ministryofjustice/data-tech-archs
/.github/ @ministryofjustice/data-platform-core-infra
/data-products/_docs/ @ministryofjustice/data-tech-archs
/data-products/_example/ @ministryofjustice/data-tech-archs
/data-products/_example_2/ @ministryofjustice/data-platform-labs
